<div class="d-flex flex-row">
  <div>
    <h1 class="p-2">Bysykkelstativer</h1>
    <div class="list-group list-group-flush bike-list">
    <% @stands.sort_by{ |stand| stand['name'] }.each do |stand| %>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= stand['name'] %></h5>
            <small><%= stand['num_bikes_available'] %></small>
        </div>
        <p class="mb-1"><%= stand['address'] %></p>
        <small>Kapasitet: <%= stand['capacity'] %></small>
      </a>
    <% end %>
    </div>
  </div>
  <div class="map">
    <div id="map" data-controller="map"></div>
  </div>
</div>
