<div class="d-flex flex-row">
    <div class="p-2">
        <h1>Bysykkelstativer</h1>
        <pre><%= JSON.pretty_generate(@stands) %></pre>
    </div>
    <div class="p-2">
        test
    </div>
</div>
