<h1>Endepunkter</h1>
<div>
    <pre><%= JSON.pretty_generate(@endpoints) %></pre>
</div>

<h1>Stasjoner</h1>
<div>
    <pre><%= JSON.pretty_generate(@stations) %></pre>
</div>

<% @stations.each do |station|%>
    <li><%= station['name'] %></li>
<% end %>

<h1>Status</h1>
<div>
    <% @station_status.each do |station_status|%>
        <pre><%= JSON.pretty_generate(station_status) %></pre>
    <% end %>
</div>